In [1]:
# Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series?

import pandas as pd

data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)

print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [2]:
# Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it?
import pandas as pd

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
my_series = pd.Series(my_list)

print(my_series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [3]:
# Create a Pandas DataFrame that contains the following data:
import pandas as pd

data = {
    'name': ['Alice', 'Bob', 'Charlie'],
    'age': [25, 30, 27],
    'Gender': ['female', 'Male', 'Female']
}

df = pd.DataFrame(data)

print(df)

      name  age  Gender
0    Alice   25  female
1      Bob   30    Male
2  Charlie   27  Female

In [4]:
# What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example?
# Ans:
# DataFrame is a 2-dimensional labeled data structure in pandas that is used for tabular data. It is a collection of Series objects,
# where each Series represents a column of the table. A DataFrame can be thought of as a spreadsheet or a SQL table, where each column
# can have a different data type

import pandas as pd

data = {
    'name': ['Alice', 'Bob', 'Charlie', 'David', 'Emily'],
    'age': [25, 32, 18, 47, 22],
    'city': ['New York', 'Paris', 'London', 'San Francisco', 'Sydney']
}

df = pd.DataFrame(data)

print(df)

      name  age           city
0    Alice   25       New York
1      Bob   32          Paris
2  Charlie   18         London
3    David   47  San Francisco
4    Emily   22         Sydney

In [ ]:
What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?
Ans:
    head() and tail(): These functions allow you to view the first or last n rows of a DataFrame, respectively. For example, you might use df.
    head() to quickly inspect the first few rows of a large dataset.

    describe(): This function generates a summary of statistics for each column in the DataFrame, including count, mean, standard deviation, 
    minimum, maximum, and quartiles. You might use this function to get a quick overview of the distribution of your data.

    info(): This function provides information about the DataFrame, including the number of rows and columns, column names, data types, and 
    memory usage. You might use this function to check if there are any missing or unexpected values in your data.

    groupby(): This function allows you to group rows of a DataFrame by one or more columns and apply a function to each group. For example,
    you might use df.groupby('category')['value'].mean() to calculate the mean value for each category in a dataset.

    sort_values(): This function allows you to sort the rows of a DataFrame by one or more columns. For example, you might use df.sort_values
    (by='value', ascending=False) to sort a dataset by a column in descending order.

    drop(): This function allows you to remove rows or columns from a DataFrame based on a specified condition. For example, you might use 
    df.drop(df[df['value'] < 0].index) to remove all rows where the value column is negative.

In [ ]:
Which of the following is mutable in nature Series, DataFrame, Panel?
Ans:
In pandas, both Series and DataFrame are mutable in nature, meaning you can change their values, add or remove rows or columns, 
and modify their structure. However, Panel is an immutable data structure in pandas that is similar to a DataFrame, but with an
additional dimension. It is recommended to use DataFrame instead of Panel in most cases.

In [5]:
# Create a DataFrame using multiple Series. Explain with an example.
import pandas as pd

names = pd.Series(['Alice', 'Bob', 'Charlie', 'David', 'Emily'])
ages = pd.Series([25, 32, 18, 47, 22])
cities = pd.Series(['New York', 'Paris', 'London', 'San Francisco', 'Sydney'])

data = {
    'name': names,
    'age': ages,
    'city': cities
}

df = pd.DataFrame(data)

print(df)

      name  age           city
0    Alice   25       New York
1      Bob   32          Paris
2  Charlie   18         London
3    David   47  San Francisco
4    Emily   22         Sydney